<div class="container-fluid vh-100 d-flex flex-column d-column align-items-center justify-content-center">
  <h1 class="display-2 text-center">Budget App</h1>
  <div class="d-flex flex-column align-items-center">
    <%= link_to "LOG IN", new_user_session_path, class: "btn btn-primary login-button mb-3" %>
    <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-secondary signup-button" %>
  </div>
</div>